[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Ll]ibrary/
sysinfo.txt
*.bak
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store*
.Trashes
._*
ehthumbs.db
[Tt]humbs.db
.plastic
/Build
/Library
/UserSettings
Build/*
Library/*
Logs/*
UserSettings/*
